.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin-left: 20px;
}

.box {
  margin: auto;
  margin-top: 50px;
  width: 300px;
}
.temp-container {
  background-color: rgb(120, 120, 227);
  height: 400px;
  width: 400px;
  border-radius: 10px;
  color: white;
}
.btn {
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  padding: 3px 15px;
}
input {
  padding: 3px 20px;
  font-size: 1rem;
  margin-right: 10px;
  border-radius: 10px;
  border: none;
}
.xx {
  display: flex;
  justify-content: center;
}
.box1 {
  display: flex;
  justify-content: space-between;
}
